

h1 {
    background-color: white;
    font-size: 80px;
    font-family: 'Nosifer', 'Times New Roman', Times, serif;
}

img {
    margin: 10px;
    height: 300px;
    width: 300px;



}

body {
    font-size: 25px;
    background-image: url("../images/background.jpg");
    width: 100%
  }
p {
    padding: 10px;
}
.container {
    background-color: white;
    font-size: 25px;
}
.comicbox {
      max-height: 228px;
      max-width: 304px;

  }
.answer {
    font-size: 80px;
    font-family: 'Nosifer', 'Times New Roman', Times, serif;

}

span {
    border: solid black 2px;
    padding-left: 5px;
    padding-right:5px;
    background-color: white; 
    font-size: 20px;
}
footer {
    border: 6px 0px 0px 0px;
    border-style: solid;
    background-color: #666666;
    border-color: #4aaaa5;
    text-align: center;
    text-align: bottom;
    color: #cccccc; 
    font-size: 15px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    left:0px;
    bottom: 0px;

}

#currentword {
    font-size: 30px;
    font-family: 'Times New Roman', cursive;
    margin-bottom: 10px;
    margin-top: 10px;
}
